body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(116, 4, 4);
font-family: 'Noto Sans Mono', monospace;
}

p {
    overflow: hidden;
    font-family: 'Noto Sans Mono', monospace;
    color: #fff;
    font-size: 12px;/* Use the "Space Mono" font */
}