body {
    margin: 0;
    padding: 0;
    cursor: none;
    overflow-x: scroll; /* Enable horizontal scrolling */
   /* Disable vertical scrolling */
}


.book-page {
    width: 50%; /* Keep each page width as it is */
    height: 100vh;
    display: inline-block; /* Change display to inline-block */
    scroll-snap-align: start; /* Snap to start of each page */
    background-color: #fff;
    overflow: hidden;
    font-family: "Jura", sans-serif;
    color: #fff;
    cursor: none;
    background-image: url('');
    vertical-align: top;
}


/*BOOK EFFECT*/
/*
.book-page {
	width: calc(50vw - 6px);
	min-height: 100vh;
	box-sizing: border-box;
	padding: 40px 60px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	position: relative;
    font-family: "Jura", sans-serif;
}
*/

section {
    display: flex;
    flex-direction: row; /* Arrange spreads horizontally */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; 
}

.left-page {
    float: left;
    color: #0000FF;
}

.right-page {
    float: right;
    color: #FF0000;
}

.spread {
    width: 100vw; /* Set spread width to the full viewport width */
    height: 100vh; /* Set spread height to the full viewport height */
    display: inline-block;
    vertical-align: top;
    text-align: center;
    overflow-x: scroll; 
    scroll-snap-align: start; /* Snap each spread to the start */
    flex: 0 0 100vw; /* Each spread takes full width of viewport */
}

.pageNum {
	bottom: 1.25rem;
	left: 1.25rem;
	z-index: 1;
	position: absolute;
}

#toc h2 {
	width: 100%;
	text-align: center;
}

#toc ul {
	margin: 40px 0px 0px;
}

#toc ul li {
	list-style-type: none;
}

.page-number-toc {
	width: 20px;
	text-align: center;
	margin-right: 1vw;
	display: inline-block;
}

#toc ul li a{
	background: none;
}

#toc ul li a:hover{
	color: #FF0000;
	opacity: .5;
}

/* background colors */

#background {
	position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;	

    pointer-events: none;

    z-index: 0;
}

.blue {
    width: 50%;
    height: 100%;
    background: #0000FF;
}

.red {
	width: 50%;
    height: 100%;
    background: #FF0000;
}

.left-page p, 
.left-page li,
.left-page ul,
.left-page h1,
.left-page h2,
.left-page h3 {
    color: #0000FF; /* Blue color for paragraphs on the left page */
}

.right-page p,
.right-page ul,
.right-page li,
.right-page h1,
.right-page h2,
.right-page h3 {
    color: #FF0000; /* Red color for elements on the right page */
}


.top-left {
    left: 0;
}

.top-right {
    right: 0;
}

/* Add styles for hover effect */
.book-page:hover .corner:hover {
    transform: translateY(-50%) rotate(-45deg); /* Rotate the corner */
}



#cover h1{
	font-size: 5em;	
	line-height: 1.1em;	
	margin-bottom: .5em;

	text-align: center;
}

p {
    margin-right: 5%;
    margin-left: 5%;
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 1.2vw;
    line-height: 1.5; 
}

p[lang="ru"] {
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 1.2vw;
    line-height: 1.5; 
}
/* Existing CSS styles */

ul {
    margin-right: 5%;
    margin-left: 5%;
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
    line-height: 1.5; 
    list-style-type: none; 
    text-align: left;
    cursor: grab;
    color:  #FF0000;
}

li {
    margin-right: 5%;
    margin-left: 5%;
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2vw;
    line-height: 1.5; 
    cursor: grab;
    text-align: left;
    transition: opacity 0.3s ease;
    color:  #FF0000;  /* Add opacity transition to <li> */
}

ul li a {
    text-decoration: none; 
    color:  #FF0000;/* Change link color */ /* Set cursor */
}

ul li a:hover { /* Change link color on hover */
    opacity: 0.3; 
    color:  #FF0000;/* Decrease opacity on hover */
}

/* Remaining CSS styles */


h1[lang="ru"] {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    line-height: 1.5; 
}

h1 {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    line-height: 1.5; 
}

h2 {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    line-height: 1.5; 
}

h2[lang="ru"] {
    font-family: "Jura", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2vw;
    line-height: 1.5; 
}

h3 {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
}

.back-to-toc {
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    display: inline-block;
    padding: 0.5vh 0.5vw;
    color: #FF0000;
    text-decoration: none;
    transition: opacity 0.3s ease;
    z-index: 999; /* Ensure it's above other content */
}

.back-to-toc:hover {
    opacity: 0.8;
}

.back-to-toc .page-number-toc {
    font-size: 3.5vh;
    margin-right: 0.3vw;
}

.back-to-toc  {
    font-size: 2vh;
}

@media screen and (max-width: 768px) {
    .back-to-toc {
        bottom: 2vh;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}




.gutter {
    position: fixed;
    display: flex;
    top: 0%;
    left: 50%; /* Align gutter to the center */
    transform: translateX(-50%); /* Adjust for center alignment */
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 100000;
}

.left-gutter {
    width: 50%;
    height: 100%;
    box-shadow: 0px 0 15px 0 rgba(0,0,0,0.1);
}

.right-gutter {
	width: 50%;
    height: 100%;
    box-shadow: 0px 0 15px 0 rgba(0,0,0,0.1);
}

@media screen and (max-width: 768px) {
    /* Adjust gutter styles for mobile */
    .left-gutter, .right-gutter {
        box-shadow: none; /* Remove shadow for mobile */
    }
}


.grid-container {
    overflow: hidden;
    width: 100%; 
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 2vh; 
    transition: transform 0.3s ease; 
}

.grid-item {
    text-align: center;
    padding: 2vh; 
}

.grid img {
    max-width: 80%;
    max-height: auto;
    transition: filter 0.3s ease;
}



p {
    overflow: hidden;
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-style: normal;
font-size: 1.2vw;
}

#cursor {
    position: fixed;
    width: 10vw;
    height: 10vh;
    background-image: url('cursor.svg'), url('leftcursor.svg');
    background-repeat: no-repeat; 
    pointer-events: none; 
    z-index: 9999; 
}



/* devices */


@media only screen and (max-width: 1280px) {
	body:not(.printPreview) {
		font-size: 1.325vw;
		line-height: 2vw;

	}
}

@media only screen and (min-width: 800px) {
	.lastBeforeEndNote {
		margin-bottom:150px;
	}
}

@media only screen and (max-width: 800px) {

	body:not(.printPreview) {
		font-size: 2.5vw;
		line-height: 3.5vw;
	}

	body:not(.printPreview) h1 {
		margin-top: .5em;
	}

	body:not(.printPreview) #cover h1, body:not(.printPreview) #toc h1{
		font-size: 3em;
	}	

	/* book effect */

	#gutter {
		display: none;
	}
}